body {
    background-color: #A7CAA7;
    padding: 0 2rem;
    font-family: 'Nova Mono', monospace;
    font-weight: 400;
}

h1 {
    border-bottom: 2.5px solid #A6A6C9;
    display: inline-block;
    padding-right: 2rem;
    padding-bottom: 0.5rem;
   font-family: 'Nova Mono', monospace;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;

    /* enables card flipping */
    -webkit-perspective: 150rem;
    perspective: 150rem;
    -moz-perspective: 150rem;
    position: relative;
    margin: 0 auto;
}

.container {
    background-color: #A6A6C9;
    border-radius: 1rem;
    min-width: 300px;
    max-width: 500px;
    width: 50%;
    min-height: 700px;
}

.container header {
    text-align: center;
}

.container header h2 {
    margin-bottom: 0.2rem;
    font-weight: 400;
}

.container header h3 {
    margin-bottom: 0.2rem;
    font-weight: 200;
    font-size: 1rem;
    width: 80%;
    margin: 0 auto;
}

.setting {
    margin: 1rem;
    display: flex;
    flex-direction: column;
}

.sub-level {

}

input[type="text"] {
    border: 1px solid #000000;
    padding: 0.35rem 0.85rem 0.35rem 0.4rem;
    line-height: 1.2rem;
    font-size: 1rem;
    font-weight: 200;
    border-radius: 0.75rem;
    font-family: 'Work Sans', sans-serif;
}

input[type="text"]:focus {
    outline: none;
    border: 1px solid #C9A6C9
}